*{
    color: #fcfafa;
}

.buttonPurple{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #645fc6;
}

.buttonWhite{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #645fc6;
    background-color: #fcfafa;
}

.active{
    background-color: #645fc6;
}

.content{
    background-color: #21212d;
}

.bgMenu{
    background-color: #2c2c38;
}

.menuBorderRigth{
    border-right: 1px solid #30303c;
}

.menuBorderBottom{
    border-bottom: 1px solid #30303c;
}

.modal input,
.modal textarea{
    border: 2px solid rgba(128, 128, 128, 0.116);
}

.btn-show{
    color: #645fc6;
    background: none;
    border: none;
    display: inline;
    margin-left: 43%;
}

.options-modal{
    background: none;
    border: none;
    display: inline;
    position: absolute;
    top: 10px;
    right: -350px;
}

.del{
    position: absolute;
    padding-top: 8px;
    left: 87%;
}

.ball{
    width: 20px;
    background-color: green;
    border: gray;
    border-radius: 50%;
}
